In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.DataFrame(np.random.rand(100,2),columns=['test1','test2'])

In [4]:
df.head()

      test1     test2
0  0.894339  0.985501
1  0.597350  0.603018
2  0.373691  0.005745
3  0.594431  0.403282
4  0.200313  0.366674